.layout{
    display: flex;
}

.right-side{
    width: 100%;
    padding-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container{
    display: flex;
}