.mfaverify-top-container{
    display: flex;
}

.mfaverify-container{
    margin-left: 40px;
    margin-top: 120px;
    max-width: 590px;
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 590px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: baseline;
    align-items: baseline;
    padding-bottom: 300px;
}

.mfaverify-container input {
    border: none;
    font-size: large;
    height: 50px;
    border-bottom: 1px solid black;
    width: 400px;
}
.mfaverify-container input:focus {
    outline: none;
    border: none;
    font-size: large;
    height: 50px;
    border-bottom: 2px solid rgb(237, 101, 83);
}

#forgot-username-button {
    border: none;
    font-size: large;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    height: 50px;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 70px;
}

.mfaverify-button-container{
    display: flex;
    gap: 20px;
}

#back-button{
    background-color:white;
    color:  rgb(237, 101, 83);
    width: 200px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: larger;
    font-weight: 500;
    font-style: normal;
    padding: 15px;
    border: 1px solid rgb(237, 101, 83);
    transition: all 0.5s ease;
    cursor: pointer;
}

#verify-button{
    background-color: rgb(237, 101, 83);
    color: white;
    width: 200px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: larger;
    font-weight: 500;
    font-style: normal;
    padding: 15px;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

#verify-button:hover, #back-button:hover{
    background-color: rgb(167, 73, 60);
    color: white;
}